.letsstart .container{
    padding-bottom: 120px;
}


.letsstart__title {
  margin-bottom: 60px;
}

.letsstart__items {
  display: flex;
  align-items: center;
}

.letsstart__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: var(--color-typography);

  cursor: pointer;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 240px;
  max-height: 90px;
  font-weight: 500;
  font-size: var(--fz-button2);
  line-height: 140%;
  padding: 35px;
  background: var(--color-grayLight);
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}

.letsstart__item:nth-child(1) {
  background: var(--color-orange);
  color: #ffffff;
}



.letsstart__explanation {
  padding: 22px 70px 0px 22px;
  font-weight: 500;
  font-size: var(--fz-button2);
  line-height: 140%;
  border: 1px solid rgba(51, 51, 51, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.explanation__text ul {
  font-weight: 500;
  font-size: var(--fz-button2);
  line-height: 140%;
  color: var(--color-typography);
  padding-bottom: 30px;
  max-width: 684px;
}

.explanation__text ul li{
	list-style: inherit;
    margin-left: 20px
}


.explanation__img{
    align-self: flex-end;
}
