.solutions {
	background-color: #f8f8f8;
	padding: 120px 0 116px 0;
}

.solutions__title {
	margin-bottom: 19px;
}

.solutions__items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.solutions__item {
	max-width: 360px;
	border: 1px solid rgb(51, 51, 51, 0.3);
	margin-top: 41px;
}
.item__img {
	max-width: 359px;
	height: 117px;
	background-color: var(--color-grayLight);
}
.solutions__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.item__title {
	font-weight: 700;
	font-size: var(--fz-headline3-button1);
	line-height: 140%;
	text-align: center;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: var(--color-typography);
	margin-bottom: 20px;
	height: 55px;
}

.item__content {
	padding: 34px 24px 20px 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item__text {
	font-weight: 500;
	font-size: var(--fz-text-link);
	line-height: 140%;
	text-align: center;
	color: #212121;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(51, 51, 51, 0.2);
	height: 90px;
}

.item__price {
	padding-top: 30px;
	padding-left: 50px;
	font-weight: 500;
	font-size: var(--fz-text-link);
	line-height: 140%;
	color: var(--color-typography);
	position: relative;
	margin-bottom: 16px;
}

.item__price:before {
	content: "";
	background: url(../assets/main/solutions/rub.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 22px;
	height: 21px;
}

.item__price:after {
	content: "";
	background: #f8f8f8ad;
	position: absolute;
	top: 50%;
	left: 5px;
	width: 30px;
	height: 30px;
}

.item__price span {
	font-weight: 700;
	font-size: var(--fz-headline3-button1);
	color: var(--color-orange);
}

.item__sale {
	font-weight: 500;
	font-size: var(--fz-text-link);
	line-height: 140%;
	color: var(--color-typography);
	padding-left: 50px;
	position: relative;
	margin-bottom: 35px;
	height: 50px;
}

.item__sale:before {
	content: "";
	background: url(../assets/main/solutions/sale.svg) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 40px;
}

.item__sale.present:before {
	content: "";
	background: url(../assets/main/solutions/present.svg) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 40px;
}

.item__sale .line-through {
	font-weight: 900;
	font-size: var(--fz-headline3-button1);
	line-height: 120%;
	text-align: center;
	text-decoration-line: line-through;
	color: var(--color-typography);
}

.item__sale .bold {
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
}

.item__link {
	font-weight: 600;
	font-size: var(--fz-text-link);
	line-height: 120%;
	color: var(--color-orange);
	align-self: flex-end;
	padding-right: 35px;
	position: relative;
	cursor: pointer;
}

.item__link::after {
	content: "";
	background: url(../assets/main/solutions/arrow.svg) no-repeat;
	position: absolute;
	top: 5px;
	right: 0;
	width: 28px;
	height: 10px;
}
